body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: linear-gradient(135deg, #e6d9ff, #f3edff);
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.university {
  font-size: 42px;
  font-weight: 900;
  color: red;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.semester {
  font-size: 38px;
  font-weight: 800;
  color: #4c1d95;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.timetable-box {
  background: linear-gradient(135deg, #8b5cf6, #a78bfa);
  padding: 25px;
  border-radius: 18px;
  width: 92%;
  max-width: 1100px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 14px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  text-align: center;
  border: 1px solid #e5e7eb;
  font-size: 15px;
}

th {
  background: #ede9fe;
  color: #4c1d95;
  font-weight: 700;
}

td {
  color: #7c2d12;
  font-weight: 600;
  transition: 0.3s;
}

td:first-child {
  font-weight: bold;
  color: #1e1b4b;
  background: #f5f3ff;
}

td:not(:first-child):hover {
  background: #ddd6fe;
  color: #312e81;
  transform: scale(1.05);
}
